.about-container{
    background-color: rgb(249, 206, 237);
    padding-top:30px;
    padding-bottom:40px;
}


.about-container:hover{
background-color: rgb(241, 203, 229);

}
.about-container h1{
    
    font-weight: bolder;
    font-family: cursive;
}


.about-content{

    display: flex;
    margin-left: 20px;
    gap: 30px;
}

.about-text{
    display: inline-block;
    opacity: 0;
    transform: translateY(40px);
    animation:fadeSlideIn 1s ease-out forwards;
}

@keyframes fadeSlideIn{
to{
  opacity: 1;
transform: translateY(0);
} }



.about-text:hover{
      display: inline-block;
    opacity: 1;
    transform: scale(0.9);
    animation:zoomOut 2s ease-out forwards;
}

@keyframes zoomOut{
to{ 
transform: scale(1.1);
} }



.right{
    height:250px; 
}


.right.active{
    display: block;
}





.right-buttons button{
 background-color: blanchedalmond;
color: rgb(155, 33, 33);
border-style: outset;
border-color: rgb(57, 57, 136) 2px;
height: 30px;
width: 130px;
margin-right:10px;
border-radius: 6px;
}

.right-buttons button:hover{
    background-color: rgb(206, 174, 126);
    font-weight: bold;
}


.right-buttons button.active{
    font-weight: bold;
    background-color: rgb(178, 236, 120);
}

.left{  
width: 35%;
}




.right{
    padding-top: 20px;
width: 55%;
}

.right li{
    list-style: disc;
}

.section{

    display: none ;

}


.section.active{
    display: block;
    
}




/*    from{
transform: translateX(-100px);
opacity: 1;
*/