html {
  scroll-behavior: smooth;
}
.contact-container {
  background-image: url("/public/bg.jpeg");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 0;
}

.contact-container h1 {
  margin-right: 100px;
  font-size: 2.2rem;
  font-family: "Merienda", cursive;
  font-weight: 800;
}

.left {
  width: 40%;
  margin-left: 20px;
}

.your-contact {
  width: 50%;
  margin-top: 50px;
}

.input-box {
  background-color: rgb(236, 240, 248);
  box-shadow: -8px 4px 7px rgb(25, 50, 100);
  border-radius: 10px;
  margin-top: 8px;
  height: 30px;
  width: 200px;
}

.message-box {
  border-radius: 10px;
  margin-top: 8px;
  width: 200px;
  box-shadow: -8px 4px 7px rgb(25, 50, 100);
}

.your-contact button {
  border-radius: 10px;
  background-color: rgb(25, 50, 100);
  color: white;
  height: 40px;
  width: 140px;
  margin-top: 5px;
  font-size: 1rem;
}

.your-contact button:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.sm {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.my-contact a {
  color: black;
  text-decoration: none;
  font-size: 19px;
}

.my-contact a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(20, 51, 146);
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  font-size: 25px;
}

/*
    background-image: linear-gradient(#e66018, #d99a5a);
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 0%;
background-repeat: no-repeat;
transition: background-size 0.2s ease-in-out;*/
