
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    background-color: rgb(231, 215, 228);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
}

.contact-container:hover{
    background-color: rgb(241, 210, 235);
}


.contact-container h1{
    font-weight: bolder;
    font-family: cursive;
}

.left{
    width: 40%;
    margin-left: 20px;
}

.your-contact{
    width: 50%;
    
    margin-top: 50px;
}

form{
    margin:px;
}

.input-box{
    border-radius: 10px;
    margin-top: 8px;
    height:30px;
    width: 200px;
}


.message-box{
    border-radius: 10px;
    margin-top: 8px;
    width: 200px;
}


.your-contact button{
    border-radius: 10px;
    background-color: rgb(168, 138, 198);
    height: 30px;
    width: 120px;
    margin-top: 5px;
    font-size: medium;
}

.your-contact button:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    
}




.sm{
    display: flex;
    gap:10px;
    justify-content:flex-start;
}


.my-contact a{
    color: black;
    text-decoration: none;
}


.my-contact a:hover{
    text-decoration:underline;
    text-decoration-color: brown;
    text-decoration-style: solid ;
    text-decoration-thickness: 4px ;
}
    



/*
    background-image: linear-gradient(#e66018, #d99a5a);
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 0%;
background-repeat: no-repeat;
transition: background-size 0.2s ease-in-out;*/