html {
  scroll-behavior: smooth;
}
.project-container {
  background-color: rgb(191, 215, 234) ;
  background-position: center;
  height: 90vh;
    margin-top:-19px;

  padding-top: 10px;
}

.project-content {
  margin-left: 40px;
}

.project-content h1 {
  margin-right: 100px;
  font-size: 2.2rem;
  font-family: "Merienda", cursive;
  font-weight: 800;
}

.cards {
  width: 1200px;
  display: grid;
  
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;


  cursor: pointer;
}





.card {
  border: 0px solid #0e0d0d;
  border-radius: 15px;
  background-color:rgb(236, 240, 248);
 box-shadow:  -19px 11px 9px rgb(25, 50, 100);
padding-bottom: 30px;
}
.card h2 {
  text-align: left;
  
  margin-left: 12px;
 
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}
.card:hover h2 {
  color: rgb(243, 240, 239);
}
.card:hover {
  transform: translate(5px);
  color: rgb(244, 243, 243);
  background-color: rgb(1, 1, 1);
}

.card p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 12px;
  
  padding-right: 12px;
  
}

.card span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 12px;
  font-size: smaller;
}

.more {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: rgb(73, 89, 230);
  cursor: pointer;
}

.card:hover span {

   color: rgb(73, 89, 230);
}

.card img {
  margin-left: 120px;
  height: 50%;
  width: 85%;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 12px;
}


.my_icon{
  height:200px;
   height:210px;
   margin-left: 20px;
}

/*
.card p{
    display: inline-block;
    opacity: 0;
    transition: slideIn 1s ;

    .cards{
      width: 1000px;
    display:flex;
    flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
    
}
  background-color: rgb(185, 215, 234) ;
}*/
